@using BreakoutGame.Enums;
@using BreakoutGame.Helpers;

<div class="arena" style="@(GetLeftStyle())"></div>
<div class="arena" style="@(GetRightStyle())"></div>
<div class="arena" style="@(GetTopStyle())"></div>

@functions {
    //private string GetCellClass(Models.Brick brick)
    //{
    //    string cellClass = "bunker-cell ";

    //    if (!brick.Visible)
    //    {
    //        return cellClass + "bunker-clear";
    //    }

    //    switch (brick.BrickType)
    //    {
    //        case BricksEnum.TopLeft:
    //            return cellClass + "bunker-topleft";
    //        case BricksEnum.TopRight:
    //            return cellClass + "bunker-topright";
    //        case BricksEnum.BottomLeft:
    //            return cellClass + "bunker-bottomleft";
    //        case BricksEnum.BottomRight:
    //            return cellClass + "bunker-bottomright";
    //        case BricksEnum.Full:
    //            return cellClass + "bunker-set";
    //        default:
    //            return cellClass + "bunker-clear";
    //    }
    //}

    //private string GetCellStyle()
    //{
    //    //string style = "width:" + Constants.BrickSize + "px; height:" + Constants.BrickSize + "px;";
    //    //string style = "width:0; border-bottom: " + Constants.BrickSize + "px solid green; height:0; border-left: " + Constants.BrickSize + "px solid transparent;";
    //    string style = "width:" + Constants.BrickSize + "px; height:" + Constants.BrickSize + "px;";

    //    return style;
    //}

    //private string GetStyle(Models.Bunker bunker)
    //{
    //    string style = "left:" + (bunker.Xpos - (bunker.Width / 2)) + "px; top:" + (Constants.GameAreaHeight - bunker.Ypos - bunker.Height) + "px;";

    //    return style;
    //}

    private string GetLeftStyle()
    {
        string style = "left: 0px; top: 0px; width: " + Constants.ArenaLeftWidth + "px; height: " + Constants.GameAreaHeight + "px;";

        return style;
    }

    private string GetRightStyle()
    {
        string style = "left: " + (Constants.GameAreaWidth - Constants.ArenaRightWidth) + "px; top: 0px; width: " + Constants.ArenaLeftWidth + "px; height: " + Constants.GameAreaHeight + "px;";

        return style;
    }

    private string GetTopStyle()
    {
        string style = "left: 0px; top: 0px; width: " + Constants.GameAreaWidth + "px; height: " + Constants.ArenaTopWidth + "px;";

        return style;
    }
}
