@page "/"

<h1 class="th1">Blazor Arcade</h1>
<div class="td1">
    <div class="td2">
        Simple Blazor games in the browser
    </div>

    <div class="td3">
        Disclaimer:<br />
        This only works properly in Chrome and Firefox,<br />
        and won't work on a phone or tablet as it uses the keyboard.
    </div>
</div>
